.flextable {
  position: relative;
  border: 1px solid #e3e5e8;
  border-collapse: collapse;
}

  .flextable th {
    background-color: #f7f7f8;
  }

  .flextable th,
  .flextable td {
    position: relative;
    border: 1px solid #e3e5e8;
    empty-cells: show;
    height: 24px;
    min-width: 100px;
    vertical-align: baseline;
  }

  .flextable th,
  .flextable td,
  .flextable__textarea {
    padding: 6px 12px;
    line-height: 24px;
    font-size: 15px;
  }

  .flextable__textarea {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    margin: 0;
    width: calc(100% + 2px);
    box-sizing: border-box;
    /*min-height: 24px;*/
  }

  .flextable__textarea:focus {
    outline: 0;
  }

  .flextable__contextmenu {
    position: absolute;
    z-index: 10000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }

    .flextable__contextmenu hr {
      margin: -1px 0 0;
      position: relative;
      border-color: #29323d;
    }

    .flextable__contextmenu__btn {
      display: block;
      width: 100%;
      border: 0;
      border-radius: 0;
      padding: 8px;
      background-color: white;
      box-shadow: none;
      text-align: left;
      transition: background-color 0.3s;
    }

    .flextable__contextmenu__btn + .flextable__contextmenu__btn {
      border-top: 1px solid #e3e5e8;
    }

    .flextable__contextmenu__btn:hover,
    .flextable__contextmenu__btn:focus {
      background-color: #d5d8dd;
    }